<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Извините, ваша корзина пуста</h1>

    <h3>на главную страницу</h3>
    <button onclick="window.location.href='http://127.0.0.1:8000/primary/'">главная</button>

    <h3>В магазин за вкусным мороженым</h3>
    <button onclick="window.location.href='http://127.0.0.1:8000/store/'">магазин</button>


</body>
</html>