<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Магазин мороженого</h1>
    <h2>Попробуйте наше вкусное мороженое</h2>
    <ul>
        <li>клубничное</li><button>купить</button>
        <li>вишневое</li><button>купить</button>
        <li>персиковое</li><button>купить</button>
        <li>шоколадное</li><button>купить</button>
        <li>крем-брюле</li><button>купить</button>
    </ul>
    <h3>Перейти в корзину</h3>
    <button onclick="window.location.href='http://127.0.0.1:8000/cart/'">корзина</button>
    <h3>На главную страницу</h3>
    <button onclick="window.location.href='http://127.0.0.1:8000/primary/'">главная</button>
</body>
</html>